.ou-toast-wrapper.ou-toast-top.ou-toast-center
  ul.ou-toast-list
    //- @flyInOut="'in'"
    li.ou-toast-message(
        *ngFor="let toast of toastService.toastList; trackBy:trackByToasts" )
      .alert(role="alert"
          ,[class.alert-success]="toast.className==='success'"
          ,[class.alert-info]="toast.className==='info'"
          ,[class.alert-warning]="toast.className==='warning'"
          ,[class.alert-danger]="toast.className==='danger'")
        | {{ toast.content }}
